.global-footer {
	@include clearfix;
    animation: fade-in 0.75s 1 ease-out;
    animation-fill-mode: forwards;
	background-color: $white;
	color: $green;
	float: left;
	font-size: em(16,16);
	line-height: 1;
	padding: em(20,16);
	width: 100%;

	.home & {
		@media screen and (min-width: $bp-narrow) {
			bottom: 0;
			left: 0;
			position: fixed;
			width: 50%;
		}
		@media screen and (min-width: $bp-wide) {
			width: 25%;
		}
	}

	nav.footer-nav {
		margin-top: em(8,16);
		float: left;
	}

	nav.social {
		float: right;
	}
}