#logo {
	@include ir;
	background-image: url('/img/ui/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: em(50,16);
	border-radius: 50%;
	left: em(20,16);
	position: absolute;
	top: em(20,16);
	height: em(50,16);
	width: em(50,16);
	z-index: 3;
}
