---
layout: home
---
<section id="intro">
  <h1 itemprop="name">Jason Gilmour</h1>
  <h3 itemprop="jobTitle">Digital Designer</h3>
	<p>I make beautiful, digital things.</p>
	<p>I forge creative solutions to complex problems through critical thinking, accurate intuition and detailed research.</p>
	<p>My creative process relies on solid strategy, knowledge of context and clear goals.</p>
	<p>My work speaks for itself.</p>
  <p><em>My site is not finished. I'm releasing it in it's current state because I feel it's better than my previous folio site and I wanted to get something live rather than sitting on it for months.</em></p>
</section>
<nav class="home projects-nav">
  {% for post in site.categories.projects reversed %}
    <a href="{{ post.url }}" class="{{ post.slug }}">
      <h3>{{ post.title }}</h3>
      {% if post.projecttype %}<small>({{ post.projecttype }})</small>{% endif %}
    </a>
  {% endfor %}
</nav>
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
