@import '../../styles/tooling';

.projectCard {
	align-items: center;
	border: 4px solid $black;
	display: flex;
	margin: 32px 0;
	padding: 16px;
	position: relative;
	flex-direction: column;

	@media (min-width: $bp-sm) {
		border: 6px solid $white;
		padding: 32px;
	}

	@media (min-width: $bp-md) {
		border-width: 8px;
		margin: 80px 20px 120px;
		padding: 48px;
	}

	@media (min-width: $bp-lg) {
		border-width: 11px;
		flex-direction: row;
		margin: 80px 40px 200px;
		padding: 60px;

		&:nth-child(2n - 1) {
			.projectInfo {
				order: 2;
			}

			.projectImage {
				right: auto;
				left: -60px;
			}
		}
	}

	@media (prefers-color-scheme: light) {
		border-color: $light-gray;
	}

	h3 {
		margin-bottom: 0.2em;
	}

	@media (min-width: $bp-lg) {
		&.hailto {
			.projectImage {
				margin-bottom: -60px;
				margin-top: -160px;
			}
		}

		&.daily {
			.projectImage {
				margin-bottom: -160px;
				margin-right: -7%;
				margin-top: -120px;
			}
		}

		&.cms-design-system {
			.projectImage {
				margin-bottom: -110px;
				margin-right: -60px;
				margin-top: -120px;
			}
		}

		&.storm-ideas {
			.projectImage {
				margin-bottom: -160px;
				margin-left: -60px;
				margin-top: -160px;
			}
		}
	}
}

.projectInfo {
	flex: 1;
	padding-right: 20px;
}

.projectImage {
	@media (min-width: $bp-lg) {
		position: relative;
		right: -60px;
		max-width: 50%;
	}
}

:global {
	.btn.project-link {
		display: block;
		float: left;
		margin: 0 2em 2em 0;
		width: auto;
	}

	.btn.project-link:last-child {
		margin-right: 0;
	}
}
