<footer id="global-footer" class="global-footer" role="navigation">
	<nav id="footer-nav" class="footer-nav">
		<a href="/contact/">Contact</a>
	</nav>
	<nav class="social" role="navigation">
		<a href="https://www.twitter.com/jasongilmour94" class="twitter icon" target="_blank" rel="noreferrer" itemprop="sameAs">Twitter</a>
		<a href="https://www.linkedin.com/in/jason-gilmour-1805b474" class="linkedin icon" target="blank" rel="noreferrer" itemprop="sameAs">LinkedIn</a>
		<a href="https://github.com/jasongilmour" class="github icon" target="_blank" rel="noreferrer" itemprop="sameAs">Github</a>
		<a href="https://medium.com/@jasongilmour94" class="medium icon" target="blank" rel="noreferrer" itemprop="sameAs">LinkedIn</a>
	</nav>
</footer>