// Typography

$default-font-stack: 'solomon-normal', sans-serif;
$serif-font-stack: 'solomon-light', sans-serif;
$thin: 200;
$light: 300;
$regular: 400;
$bold: 600;
$weight-black: 700;

// Colors

//  Default color for HRs, borders, default font color etc
//  as used in the top of _atmosphere.scss, can differ
//  from primary brand color.
$black: #454944;
$white: #FFF;
$gray: #838383;
$dark-gray: #757C72;
$light-gray: #D0D6C9;

// Brand colours
$green: #35d80e;
$dark-green: #2E8915;

// Message colors
$warning-color: red;
$information-color: blue;
$success-color: green;

// Button colors
$cta-background: lightgreen;

// Breakpoints
$bp-narrow: 40em;
$bp-wide: 64em;
$bp-x-wide: 84em;