/// ==========================================================================
// Typography
// ==========================================================================

@use "sass:math";

  @font-face {
	font-family: 'Clash Display Variable';
	src: url('../../public/fonts/ClashDisplay-Variable.woff2') format('woff2'),
		 url('../../public/fonts/ClashDisplay-Variable.woff') format('woff'),
		 url('../../public/fonts/ClashDisplay-Variable.ttf') format('truetype');
		 font-weight: 200 700;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Clash Grotesk Variable';
	src: url('../../public/fonts/ClashGrotesk-Variable.woff2') format('woff2'),
		 url('../../public/fonts/ClashGrotesk-Variable.woff') format('woff'),
		 url('../../public/fonts/ClashGrotesk-Variable.ttf') format('truetype');
		 font-weight: 200 700;
		 font-display: swap;
		 font-style: normal;
}

.metadata {
	@include visuallyhidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
td {
	color: inherit;
	font-family: 'Clash Display Variable', sans-serif;
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 1.2;
	margin: 0 0 0.6em;
	overflow: hidden;
}
h1,
.h1 {
	font-size: 10vmin;
	line-height: 1.2;
	margin: 0 0 0.6em;

	@media (min-width: $bp-lg) {
		font-size: 6vmin;
		line-height: 1.2;
	}
}

h2,
.h2 {
	font-size: 8vmin;
	line-height: 1.2;
	margin: 0 0 0.6em;

	@media (min-width: $bp-lg) {
		font-size: 4.4vmin;
	}
}

h3,
.h3 {
	font-size: 6vmin;
}

h4,
.h4 {
	font-size: 5vmin;
}

h5,
.h5 {
	font-size: 4vmin;
}

h6,
.h6 {
	font-size: 3vmin;
}

strong,
.strong {
	font-weight: $font-bold;
}

em,
figcaption {
	font-style: italic;
}

figcaption {
	font-size: em(12, 16);
	line-height: math.div(16, 12);
	margin: em(16, 12) 0 em(20, 12);
	text-align: center;
}

mark {
	background: $light-gray;
}

pre {
	border-radius: 0.5em;
	overflow-x: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;

	code {
		border-radius: 0.5em;
		padding: 0.5em 1em;
	}

	&.code {
		padding: 0;
		border-radius: 0;
	}
}

code {
	background-color: $text-color;
	border: 1px solid $text-color;
	color: $white;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

// links

a {
	color: $text-color;
	cursor: pointer;
	text-decoration: underline;
	transition: color 0.15s linear;

	@media (prefers-color-scheme: light) {
		color: $text-color-alt;
	}

	&:hover,
	&:active {
		color: $light-green;
	}

	@media (prefers-color-scheme: light) {
		&:hover,
		&:active {
			color: $dark-green;
		}
	}
}

p,
dl,
ol,
ul {
	font-size: 4.4vmin;
	line-height: 1.4;
	margin: 0 0 0.75em;

	@media (min-width: $bp-lg) {
		font-size: 2.2vmin;
	}

	img {
		float: left;
		margin-right: em(28, 14);
		vertical-align: baseline;

		&.alignright {
			float: right;
			margin-left: em(28, 14);
		}
	}
}

// Lists
ol,
ul {
	li {
		font-size: 1em;
		margin-bottom: 1em;
	}
}

ol ol {
	list-style-type: upper-roman;
}

dl {
	margin: 1em 0;
	padding: 0;

	dd {
		font-style: italic;
		line-height: 1;
		margin: 0 0 0.5em 1em;
	}
}

// Quotes & citations
blockquote {
	border-left: 0.25em solid $text-color;
	font-size: 1em;
	margin: 0;
	padding-left: em(18, 18);
	text-indent: 1em;
}

cite {
	font-size: 0.75em;
	font-size: 0.75rem;
	font-style: italic;
	font-weight: $font-regular;
}
