@import '../../styles/tooling';

.pageBorder {
	padding: 4vw;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		padding: 80px;
	}

	.page {
		padding: 4vw;

		@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
			padding: 80px;
		}
	}
}

.page {
	min-height: 92vh;
	padding: 4vw;
	position: relative;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		min-height: calc(100vh - 160px);
		padding: 80px 160px;
	}
}

.jrg {
	display: flex;
	font-family: 'solomon-bold';
	font-size: 6vw;
	line-height: (32/24);
	overflow: visible;
	position: absolute;
	right: 4vw;
	top: 3vw;
	z-index: 1;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		display: block;
		font-size: em(44, 16);
		left: 0;
		line-height: (52/44);
		margin: 0 0 em(6, 44);
		top: 120px;
		width: 560px;
	}
}

.word {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 8vw;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		flex-direction: row;
		padding-left: 80px;
		width: auto;
	}
}

.letter {
	align-content: center;
	color: $white;
	display: flex;
	font-weight: bold;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	transition: transform 0.3s ease, opacity 0.3s ease;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		height: 80px;
		line-height: 80px;
		width: 80px;
	}

	&:nth-child(1) {
		transition-delay: 0.05s;
	}

	&:nth-child(2) {
		transition-delay: 0.1s;
	}

	&:nth-child(3) {
		transition-delay: 0.15s;
	}

	&:nth-child(4) {
		transition-delay: 0.2s;
	}

	&:nth-child(5) {
		transition-delay: 0.25s;
	}

	&:nth-child(6) {
		transition-delay: 0.3s;
	}

	&:nth-child(7) {
		transition-delay: 0.35s;
	}

	.out & {
		opacity: 0;
		transform: translateY(-100%);

		&:nth-child(7) {
			transition-delay: 0.05s;
		}

		&:nth-child(6) {
			transition-delay: 0.1s;
		}

		&:nth-child(5) {
			transition-delay: 0.15s;
		}

		&:nth-child(4) {
			transition-delay: 0.2s;
		}

		&:nth-child(3) {
			transition-delay: 0.25s;
		}

		&:nth-child(2) {
			transition-delay: 0.3s;
		}

		&:nth-child(1) {
			transition-delay: 0.35s;
		}
	}
}

.initial {
	align-content: center;
	color: $green;
	display: flex;
	font-weight: bold;
	justify-content: center;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	z-index: 3;

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		height: 80px;
		line-height: 80px;
		position: fixed;
		width: 80px;
	}

	&.r {
		color: #18C161;
	}

	&.g {
		color: #16C670;
	}
}

.intro {
	background: linear-gradient(-45deg, $green 0, $background-color 94%);
	position: relative;

	&:before {
		content: '';
		border-color: transparent $background-color transparent transparent;
		border-style: solid;
		border-width: 0 calc(100vw - 32px) calc(100vw - 32px) 0;
		display: block;
		height: 0;
		position: absolute;
		right: -64px;
		top: 0;
		width: 0;
	}

	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		background: linear-gradient(62deg, #24A306 0%, #0ED8A8 100%);

		&:before {
			content: normal;
		}
	}
}

.introHeadline {
	font-size: 8vw;
	letter-spacing: 0.03em;
	line-height: (40/32);
	margin: 70vw 0 rem(48);

	@media (min-width: $bp-lg) {
		font-size: 6vw;
		margin-top: 260px;
	}

	@media (min-width: $bp-xl) {
		font-size: vw(74);
		line-height: (98/74);
		margin: rem(40) 0;
	}
}

.introBackgroundContainer {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

	img {
		min-height: 100%;
		max-width: none;
	}
}

.services {
	background: url('/img/page-backgrounds/background-services.svg') right bottom /
		contain no-repeat,
		radial-gradient(660px at 100% 100%, #3C453E 0%, rgba(48, 48, 48, 0) 100%);
}

.serviceList {
	@include textGradient(linear-gradient(77deg, #83e46c 0%, #95f3dd 100%));
	font-family: 'solomon-bold';
	list-style: none;
	font-size: rem(38);
	line-height: (52/38);
	margin: 0;
	padding: 0;

	@media (min-width: $bp-lg) {
		font-size: vw(82);
		line-height: (106/82);
	}

	li {
		margin: 0;
	}
}

.projectsHeadline {
	@media screen and (min-width: $bp-lg), screen and (orientation: landscape) and (min-width: $bp-md) {
		padding-left: 111px;
	}
}

.contact {
	background: url('/img/page-backgrounds/background-contact.png') center top /
		cover no-repeat;
	min-height: calc(100vh - 80px);
}
