@import '../../styles/tooling';

.content {
	padding: 8vmin;
	@media (min-width: $bp-lg) {
		padding: 12vmin;
	}
}

.jrg {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	line-height: 1;
	overflow: visible;
	right: 4vw;
	top: 3vh;
	z-index: 1;
}

.word {
	display: flex;
	position: relative;
	left: -0.4vmin;
	width: auto;
}

.letter {
	align-content: center;
	color: $white;
	display: flex;
	font-weight: bold;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	transition: transform 0.3s ease, opacity 0.3s ease;
	width: 10vmin;

	@media (min-width: $bp-lg) {
		font-size: 6vmin;
		height: 6vmin;
		line-height: 1;
		width: 6vmin;
	}

	&:nth-child(1) {
		transition-delay: 0.05s;
	}

	&:nth-child(2) {
		transition-delay: 0.1s;
	}

	&:nth-child(3) {
		transition-delay: 0.15s;
	}

	&:nth-child(4) {
		transition-delay: 0.2s;
	}

	&:nth-child(5) {
		transition-delay: 0.25s;
	}

	&:nth-child(6) {
		transition-delay: 0.3s;
	}

	&:nth-child(7) {
		transition-delay: 0.35s;
	}

	.out & {
		opacity: 0;
		transform: translateY(-100%);

		&:nth-child(7) {
			transition-delay: 0.05s;
		}

		&:nth-child(6) {
			transition-delay: 0.1s;
		}

		&:nth-child(5) {
			transition-delay: 0.15s;
		}

		&:nth-child(4) {
			transition-delay: 0.2s;
		}

		&:nth-child(3) {
			transition-delay: 0.25s;
		}

		&:nth-child(2) {
			transition-delay: 0.3s;
		}

		&:nth-child(1) {
			transition-delay: 0.35s;
		}
	}
}