#logo {
	@include ir;
	background-image: url('/img/ui/logo-text.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 72px;
	left: 20px;
	position: absolute;
	top: 20px;
	height: 72px;
	width: 72px;
	z-index: 2;
	&:after {
		background-image: url('/img/ui/logo-frame.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 72px;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		height: 72px;
		transition: transform .5s ease;
		width: 72px;
		z-index: 3;
	}
	&:hover:after {
		transform: rotate(180deg);
		transition: transform .5s ease;
	}
}
