// ==========================================================================
// Contact page
// ==========================================================================

.contact {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: em(20,16);
	@media screen and (min-width: $bp-narrow) {
		width: 50%;
	}
	address {
		padding-bottom: em(100,16);
	}
	.logo {
		margin-bottom: em(32,16);
		width: em(72,16);
	}
}