// ==========================================================================
// Layout modules
// ==========================================================================

// Define the grid
.span-{
    @include grid-class(16);
}
.push-{
    @include grid-push(16);
}
.pull-{
    @include grid-pull(16);
}
.post-{
    @include grid-post(16);
}
.post-pull-{
    @include grid-post-pull(16);
}

.centred {
	text-align: center;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
    }
}

.row {
	@include clearfix;
	align-items: flex-start;
    animation: fade-in-up 0.6s 1 ease-out;
    animation-fill-mode: forwards;
	margin: 0 auto;
    opacity: 0;
	padding: em(20,16) 0;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

    &:nth-of-type(2) { animation-delay: 0.1s }

    &:nth-of-type(3) { animation-delay: 0.2s }

    &:nth-of-type(4) { animation-delay: 0.3s }

    &:nth-of-type(5) { animation-delay: 0.4s }

    &:nth-of-type(6) { animation-delay: 0.5s }

	&.vertically-center {
		align-items: center;
	}

	@media screen and (min-width: $bp-wide) {
		margin: 0 auto;
		padding: em(40,16) em(14,16);
	}
	img {
		display: block;
		margin: 0 auto;
		@media screen and (min-width: $bp-wide) {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.module {
		position: relative;
		padding: em(14,16);
		&.right {
			order: 1;
		}
		@media screen and (min-width: $bp-wide) {
			padding: em(20,16);
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.text {
		background-color: $white;
		position: relative;
		z-index: 2;
	}
	.image {
		z-index: 1;
	}
	.image-right {
		@media screen and (min-width: $bp-wide) {
			text-align: right;
		}
	}
	.overlapping {
		@media screen and (min-width: $bp-wide) {
			border: em(14,16) solid $white;
		}
	}
	&.borderless,
	.borderless {
		padding-right: 0;
		padding-left: 0;
	}
	&.borderless-right,
	.borderless-right {
		padding-right: 0;
	}
	&.borderless-left,
	.borderless-left {
		padding-left: 0;
	}
}

.phone-mock {
	margin: 20px auto;
	max-width: 75vw;
}

.article-layout {
	margin: 0 auto;
	max-width: 48em;

	.row &.module {
		padding-top: 0;
	}

	@media screen and (min-width: $bp-narrow) {
		width: (10/16 * 100%);
	}

	@media screen and (min-width: $bp-wide) {
		width: (8/16 * 100%);
	}
}

.article-image {
	@media screen and (min-width: $bp-narrow) {
		margin: 0 (-100vw / 16);
		min-width: calc(100% + (-100vw / 8));
		padding: em(42,16) 0;
	}

	+ hr {
		@media screen and (min-width: $bp-narrow) {
			margin-top: -12px;
		}
	}
}

.gist-container {
	margin-bottom: em(36,20);
	max-width: calc(100vw - (0.875em * 2));
	overflow: auto;
}
