// ==========================================================================
// Layout modules
// ==========================================================================

// Define the grid
.span-{
    @include grid-class(16);
}
.push-{
    @include grid-push(16);
}
.pull-{
    @include grid-pull(16);
}
.post-{
    @include grid-post(16);
}
.post-pull-{
    @include grid-post-pull(16);
}

.centred {
	text-align: center;
}

.vertical-center {
	@media screen and (min-width: $bp-narrow) {
		height: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&.right {
			right: 0;
		}
	}
}

.row {
	@include clearfix;
	margin: 0 auto;
	position: relative;
	width: 100%;
	.flexbox & {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
	@media screen and (min-width: $bp-wide) {
		margin: 0 auto;
		padding: 0 em(14,16);
	}
	img {
		display: block;
		margin: 0 auto;
		@media screen and (min-width: $bp-wide) {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.module {
		// position: relative;
		padding: em(40,16) em(14,16);
		&.right {
			float: right;
		}
		&[class*="pull-"] {
			padding: em(14,16);
		}
		@media screen and (min-width: $bp-wide) {
			padding: em(80,16) em(14,16);
			&[class*="pull-"] {
				padding: em(14,16);
			}
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.text {
		background-color: $white;
		z-index: 2;
	}
	.image {
		z-index: 1;
	}
	.image-right {
		@media screen and (min-width: $bp-wide) {
			text-align: right;
		}
	}
	.overlapping {
		@media screen and (min-width: $bp-wide) {
			border: em(14,16) solid $white;
		}
	}
	&.borderless,
	.borderless {
		padding-right: 0;
		padding-left: 0;
	}
	&.borderless-right,
	.borderless-right {
			@media screen and (min-width: $bp-wide) {
			padding-right: 0;
		}
	}
	&.borderless-left,
	.borderless-left {
			@media screen and (min-width: $bp-wide) {
			padding-left: 0;
		}
	}
}