// ==========================================================================
// Navigation
// ==========================================================================

nav {
    &.footer-nav {
        a {
            &:before {
                content: ' • ';
                color: $black;
                padding: 0 .25em;
            }
            &:first-child:before {
                content: '';
                display: none;
            }
        }
    }
}

#global-nav {
    position: fixed;
    bottom: 1em;
    left: 50%;
    line-height: 1;
    margin: 0 0 0 -12em;
    padding: 0;
    width: 24em;
    z-index: 11;
    ul {
        display: block;
        li {
            border: 0;
            margin: 0 1em;
            padding: 0;
            width: auto;
            a, .a {
                border-radius: 50%;
                @extend .ir;
                background-color: #fff;
                background-image: url(/img/ui/nav-sprite.png);
                background-repeat: no-repeat;
                border: 1px solid $green;
                cursor: pointer;
                display: inline-block;
                height: 4em;
                width: 4em;
                &:after {
                    content: '';
                }
            }
        }
    }
}

nav.projects-nav {
    @include clearfix;
    float: right;
    padding: em(10,16);
    width: 100%;
    @media screen and (min-width: $bp-narrow) {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
    }
    @media screen and (min-width: $bp-wide) {
        padding: 0;
        width: 75%;
    }
    a {
        border: 10px solid $white;
        display: block;
        float: left;
        height: 50vw;
        width: 50%;
        @media screen and (min-width: $bp-narrow) {
            height: 33.333333vh;
        }
        @media screen and (min-width: $bp-wide) {
            border: 0;
            height: 100vh;
            width: 16.666667%;
        }
        h3 {
            @include ir;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        small {
            display: none;
        }
        &.biondi {
            background: linear-gradient(to bottom right, rgba(238,166,61,1) 0%, rgba(42,135,166,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-biondi.png');
                background-size: 86px;
            }
        }
        &.chamonix {
            background: linear-gradient(to bottom right, rgba(225,166,232,1) 0%, rgba(61,197,242,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-chamonix.png');
                background-size: 62px;
            }
        }
        &.local-pinboard {
            background: linear-gradient(to bottom right, rgba(18,165,168,1) 0%, rgba(26,200,55,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-localpinboard.png');
                background-size: 43px;
            }
        }
        &.maxs-menu {
            background: linear-gradient(to bottom right, rgba(255,0,0,1) 0%, rgba(155,51,51,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-maxs.png');
                background-size: 90px;
            }
        }
        &.nike {
            background: linear-gradient(to bottom right, rgba(248,187,18,1) 0%, rgba(213,19,255,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-nike.png');
                background-size: 91px;
            }
        }
        &.smeds-miracle-brew {
            background: linear-gradient(to bottom right, rgba(236,245,201,1) 0%, rgba(217,151,40,1) 100%);
            h3 {
                background-image: url('/img/ui/logo-smeds.png');
                background-size: 81px;
            }
        }
    }
    &.project-page {
        border-bottom: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
        font-size: 0;
        margin: rem(48) 0 0;
        padding: rem(16) 0 rem(20);
        position: relative;
        text-align: center;
        width: 100%;
        &:before {
            border-bottom: 1px solid $light-gray;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: -8px;
            right: 0;
        }
        &:after {
            border-bottom: 1px solid $light-gray;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            bottom: -8px;
            right: 0;
        }
        h2 {
            font-size: rem(14);
            line-height: 1.142857;
            margin: 0 auto em(16,14);
            padding: 0 em(20,14);
            text-align: left;
            text-transform: uppercase;
            @media screen and (min-width: $bp-narrow) {
                font-size: rem(18);
                line-height: 1.111111;
                padding: 0;
                width: 62.5%;
            }
            &:after {
                content: ' //';
                color: $green;
            }
        }
        a {
            border: 0;
            display: inline-block;
            float: none;
            height: 0;
            padding-bottom: 20%;
            position: relative;
            width: 20%;
            @media screen and (min-width: $bp-narrow) {
                padding-bottom: 12.5%;
                width: 12.5%;
            }
            h3 {
                background-size: 60%;
                bottom: 0;
                left: 0;
                margin: 0;
                position: absolute;
                top: 0;
                right: 0;
            }
            &.chamonix h3 {
                background-size: 45%;
            }
            &.localpinboard h3 {
                background-size: 55%;
            }
            &.nike h3 {
                background-size: 65%;
            }
        }
    }
}

nav.social {
    a {
        @include ir;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 18px;
        height: 18px;
        position: relative;
        top: 3px;
        width: 18px;
        &:hover {
            background-position: center -18px;
        }
        &.twitter {
            background-image: url('/img/ui/twitter-icon.svg');
        }
        &.linkedin {
            background-image: url('/img/ui/linkedin-icon.svg');
        }
    }
}

a.close {
    @include ir;
    background-color: $white;
    background: url('/img/ui/close.svg'), linear-gradient(225deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255 ,0) 85%, rgba(255, 255, 255 ,0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: em(28,16), cover;
    height: em(38,16);
    position: absolute;
    top: 0;
    right: 0;
    width: em(38,16);
}
