// ==========================================================================
// Navigation
// ==========================================================================

nav {
    &.footer-nav {
        a {
            &:before {
                content: ' • ';
                color: $black;
                padding: 0 .25em;
            }
            &:first-child:before {
                content: '';
                display: none;
            }
        }
    }
}

#global-nav {
    position: fixed;
    bottom: 1em;
    left: 50%;
    line-height: 1;
    margin: 0 0 0 -12em;
    padding: 0;
    width: 24em;
    z-index: 11;
    ul {
        display: block;
        li {
            border: 0;
            margin: 0 1em;
            padding: 0;
            width: auto;
            a, .a {
                border-radius: 50%;
                @extend .ir;
                background-color: #fff;
                background-image: url(/img/ui/nav-sprite.png);
                background-repeat: no-repeat;
                border: 1px solid $green;
                cursor: pointer;
                display: inline-block;
                height: 4em;
                width: 4em;
                &:after {
                    content: '';
                }
            }
        }
    }
}