.rslides_nav {
	@include ir;
	height: em(42,16);
	margin-top: em(-21,16);
	position: absolute;
	top: 50%;
	width: em(46,16);
	z-index: 3;
}
.rslides_nav.prev {
	@include backgrounds(icon-left-arrow,png,center,no-repeat);
	background-size: contain;
	left: em(20,16);
}
.rslides_nav.next {
	@include backgrounds(icon-right-arrow,png,center,no-repeat);
	background-size: contain;
	right: em(20,16);
}