---
layout: default
---
<main id="main">
	<header class="project-header">
		{% if page.slug %}
		<img src="/private/img/{{ page.slug }}/{{ page.slug }}-hero-xs.png" alt="{{ page.title }}" data-initialSrc='/private/img/{{ page.slug }}/{{ page.slug }}-hero.png' data-sizes='{"xs":{"width":"340","height":"360","suffix":"xs"},"s":{"width":"768","height":"432","suffix":"s"},"m":{"width":"1024","height":"576","suffix":"m"},"l":{"width":"1280","height":"720","suffix":"l"},"xl":{"width":"1920","height":"1080","suffix":"xl"},"xxl":{"width":"2560","height":"1440","suffix":"xxl"}}'>
		<noscript><img src="/private/img/{{ page.slug }}/{{ page.slug }}-hero-xs.png" alt="{{ page.title }}"></noscript>
		{% endif %}
		<div class="introduction">
			<h1 class="post-title" content="{{ page.title }}">{{ page.title }}{% if page.projecttype %}<span class="secondary project-type"> {{ page.projecttype }}</span>{% endif %}</h1>
			<meta content="Jason Gilmour">
			<p>{{ page.introduction }}</p>
			{% if page.secondintroduction %}<p>{{ page.secondintroduction }}</p>{% endif %}
		</div>
	</header>

	<a href="/" class="close">Close</a>

	<article class="project-content">
		{{ content }}
		<div class="project-page-footer">
			<h2>Other projects</h2>
			<nav class="projects-nav">
				{% for post in site.categories.projects reversed %}
				{% if post.url != page.url %}
					<a href="{{ post.url }}" class="{{ post.slug }}">
						<h3><span>{{ post.title }}</span></h3>
					</a>
					{% endif %}
				{% endfor %}
			</nav>
		</div>
	</article>
</main>
