---
layout: default
---

<main itemscope itemtype="http://schema.org/CreativeWork">
	<header class="project-header">
		{% if page.slug %}
		<span itemprop="name" class="artist-name"><perch:content id="artistname" /></span>
		<img src="/img/projects/{{ page.slug }}/{{ page.slug }}-hero-xs.png" width="640" height="360">
		{% endif %}
		<div class="introduction">
			<h1 class="post-title" itemprop="name" content="{{ page.title }}">{{ page.title }}{% if page.projecttype %}<span class="secondary project-type"> {{ page.projecttype }}</span>{% endif %}</h1>
			<meta itemprop="author" content="Jason Gilmour">
			<p>{{ page.introduction }}</p>
			{% if page.secondintroduction %}<p>{{ page.secondintroduction }}</p>{% endif %}
		</div>
		<a href="/" class="close">Close</a>
	</header>

	<article class="project-content">
		{{ content }}
		<nav class="project-page projects-nav">
		  <h2>Other projects</h2>
		  {% for post in site.categories.projects reversed %}
			{% if post.url != page.url %}
			  <a href="{{ post.url }}" class="{{ post.slug }}">
			    <h3>{{ post.title }}</h3>
			    {% if post.projecttype %}<small>({{ post.projecttype }})</small>{% endif %}
			  </a>
		    {% endif %}
		  {% endfor %}
		</nav>
	</article>
	{% include footer.html %}
</main>